$primary-colors : (
  moderate-blue: hsl(238, 40%, 52%),
  soft-red: hsl(358, 79%, 66%),
  light-grayish-blue: hsl(239, 57%, 85%),
  pale-red: hsl(357, 100%, 86%)
);

$neutral-colors : (
  dark-blue: hsl(212, 24%, 26%),
  grayish-blue: hsl(211, 10%, 45%),
  light-gray: hsl(223, 19%, 93%),
  very-light-gray: hsl(228, 33%, 97%),
  white: hsl(0, 0%, 100%) 
);

@mixin element-style {
  background-color: map-get($neutral-colors, white);
  padding: 20px;
  margin: 20px auto;
  border-radius: 15px;
}
@mixin button-style {
  border: none;
  padding: 15px;
  font-weight: 700;
  border-radius: 10px;
  background-color: inherit;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Rubik
}

button:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 500ms ease-in-out;
}

body {
  background-color: map-get($neutral-colors, light-gray);
  main {
    width: 90%;
    margin: 32px auto;
    .comments .comment {
      .comment-template { // comment itself regardless its replies
        @include element-style();
        display: grid;
        grid-template-columns: 20% 80%;
        .content {
          grid-column: 1/3;
          margin-bottom: 10px;
          .avatar {
            width: 32px;
            float: left;
          }
          .username {
            display: inline-block;
            padding-left: 10px;
            margin-top: 8px;
            font-weight: 700;
            .current-user-indicator {
              padding: 2px 7px 6px 7px;
              border-radius: 5px;
              color: map-get($map: $neutral-colors, $key: white);
              background-color: map-get($map: $primary-colors, $key: moderate-blue);
            }
          }
          .createdAt {
            padding-left: 5px;
            color: map-get($neutral-colors, grayish-blue);
            font-size: 0.90rem;
          }
          .body {
            margin: 20px auto;
            color: map-get($neutral-colors, grayish-blue);
            form {
              text-align: right;
              textarea {
                width: 100%;
                resize: none;
                outline: none;
                padding: 10px 25px;
                margin: 10px auto;
                font-size: 16px;
                overflow-y: hidden;
                color: map-get($map: $neutral-colors, $key: grayish-blue);
                border-radius: 10px;
              } 
              .btn-update-comment {
                @include button-style();
                width: 105px;
                color: map-get($map: $neutral-colors, $key: white);
                background-color: map-get($map: $primary-colors, $key: moderate-blue);
              }
            }
          }
        }
        .voting {
          grid-column: 1/2;
          width: 90px;
          background-color: map-get($map: $neutral-colors, $key: light-gray);
          padding: 10px 0;
          border-radius: 10px;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          .up-vote, .down-vote {
            border: none;
            background-color: map-get($map: $neutral-colors, $key: light-gray);
          }
          .vote-number {
            color: map-get($map: $primary-colors, $key: moderate-blue);
            font-weight: 700;
            align-self: center
          }
        }
        .reply {
          @extend .voting;
          @include button-style();
          grid-column: 2/3;
          place-self: end;
          color: map-get($map: $primary-colors, $key: moderate-blue);
          img {
            width: 15px;
          }
        }
        .edit-delete-comment {
          grid-column: 2/3;
          place-self: end;
          .btn-delete {
            @include button-style();
            padding: 10px 5px;
            color: map-get($map: $primary-colors, $key: soft-red);
            img {
              border-radius: 0;
              padding: 0;
            }
          }
          .btn-edit {
            @extend .btn-delete;
            color: map-get($map: $primary-colors, $key: moderate-blue);
          }
        }
      }
      .add-reply {
        @extend .add-comment;
        .btn-send-reply {
          @extend .btn-send-comment;
        }
      }
      .comment-replies {
        border-left: solid 2px map-get($map: $primary-colors, $key: light-grayish-blue);
        .comment-reply {
          .comment-template{
            width: 95%;
            margin-left: 5%;
            .body .replying-to {
              color: map-get($map: $primary-colors, $key: moderate-blue);
              font-weight: 700;
            }
          }
          .add-reply {
            @extend .add-comment;
            margin-left: 5% !important;
            .btn-send-reply {
              @extend .btn-send-comment;
            }
          }
        }
      }
    }
    .delete-alert {
      position: fixed;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.719);
      inset: 0;
      // display: grid;
      place-items: center;
      display: none;
      .alert {
        @include element-style();
        // padding: 40px;
        width: 90%;
        margin: auto;
        .title {
          font-weight: 700;
          margin: 15px auto;
        }
        .message {
          color: map-get($map: $neutral-colors, $key: grayish-blue);
          margin-bottom: 25px;
        }
        .response {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          button {
            @include button-style();
            width: 48%;
            color: map-get($map: $neutral-colors, $key: white);
            &:first-child {
              background-color: map-get($map: $neutral-colors, $key: grayish-blue);
            }
            &:last-child {
              background-color: map-get($map: $primary-colors, $key: soft-red);
            }
          }
        }
      }
    }
    
    .add-comment {
      @include element-style();
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-row-gap: 20px;
      margin-top: 20px;
      justify-items: end;
      textarea {
        height: 120px;
        width: 100%;
        resize: none;
        outline: none;
        padding: 10px 25px;
        border-radius: 10px;
        border-color: map-get($map: $neutral-colors, $key: grayish-blue);
        grid-column: 1/3;
      }
      .avatar {
        width: 32px;
        padding: 8px 0; 
        justify-self: start;
      }
      .btn-send-comment {
        @include button-style();
        width: 105px;
        background-color: map-get($map: $primary-colors, $key: moderate-blue);
        color: map-get($map: $neutral-colors, $key: white);
      }
    }
  }
}

@media (min-width: 520px) {
  body {
    main {
      width: 80%;
      .delete-alert {
        .alert {
          width: 400px;
          button {
            width: 162px;
          }
        }
      }
    }
  }
}
@media (min-width: 769px) {
  body {
    main {
      width: 70%;
    }
  }
}
@media (min-width: 900px) {
  body {
    main {
      width: 60%;
      .comments .comment{
        .comment-template {
          grid-template-columns: 5% 50% 45%;
          column-gap: 10px;
          .voting {
            grid-area: 1/1/3/2;
            flex-direction: column;
            width: 100%;
            height: 100px;
            text-align: center;
            border-radius: 5px;
          }
          .content {
            margin-bottom: 0;
            padding-bottom: 0;
            grid-area: 1/2/3/4;
            .body {
              padding-right: 20px;
              margin-bottom: 0;
            }
          }
          .reply{
            background-color: transparent;
            grid-area: 1/3/2/4;
            flex-direction: row;
            justify-content: end;
            align-self: flex-end;
            margin-right: 15px;
            width: 80px;
            height: 40px;
            img {
              padding-right: 5px;
              width: 20px;
            }
          }
          .edit-delete-comment {
            grid-area: 1/3/2/4;
            flex-direction: row;
            justify-content: end;
            margin-right: 20px;
            .btn-edit, .btn-delete {
              padding: 10px;
            }
          }
        }
        .comment-replies {
          width: 95%;
          margin-left: 5%;
          .add-reply {
            width: 95%;
            margin-left: 5%;
          }
        }
      }
      .add-comment {
        margin-top: 20px;
        grid-template-columns: 8% 67% 25%;
        justify-items: center;
        textarea {
          width: 100%;
          height: 100px;
          grid-area: 1/2/3/3;
        }
        .avatar {
          grid-column: 1/2;
        }
        .btn-send-comment {
          justify-self: center;
          grid-column: 3/4;
        }
      }
    }
  }
}
@media (min-width: 1024px + 1) {
  body {
    main {
      width: 50%;
      margin: 64px auto;
    }
  }
}
