$mobile-width: 375px;

$primary-colors : (
  moderate-blue: hsl(238, 40%, 52%),
  soft-red: hsl(358, 79%, 66%),
  light-grayish-blue: hsl(239, 57%, 85%),
  pale-red: hsl(357, 100%, 86%)
);

$neutral-colors : (
  dark-blue: hsl(212, 24%, 26%),
  grayish-blue: hsl(211, 10%, 45%),
  light-gray: hsl(223, 19%, 93%),
  very-light-gray: hsl(228, 33%, 97%),
  white: hsl(0, 0%, 100%) 
);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: map-get($neutral-colors, light-gray);
  main {
    width: 90%;
    margin: 40px auto;
    .comment {
      .comment-main { // comment itself regardless its replies
        background-color: map-get($neutral-colors, white);
        padding: 20px;
        margin: 20px auto;
        border-radius: 15px;
        .header {
          padding-bottom: 20px;
          display: grid;
          grid-template-columns: 20% 50% 30%;
          .avatar {
            width: 50px;
          }
          .username {
            font-weight: 600;
            padding-top: 15px;
            .current-user-indicator {
              padding: 2px 7px 6px 7px;
              border-radius: 5px;
              color: map-get($map: $neutral-colors, $key: white);
              background-color: map-get($map: $primary-colors, $key: moderate-blue);
            }
          }
          .createdAt {
            padding-top: 15px;
            color: map-get($neutral-colors, grayish-blue);
          }
        }
        .body {
          color: map-get($neutral-colors, grayish-blue);
          margin-bottom: 20px;
        }
        .footer {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .voting {
            background-color: map-get($map: $neutral-colors, $key: light-gray);
            padding: 10px 0;
            border-radius: 10px;
            * {
              padding: 0 5px;
            }
            .up-vote, .down-vote {
              border: none;
              background-color: map-get($map: $neutral-colors, $key: light-gray);
            }
            .vote-number {
              font-weight: 600;
              color: map-get($map: $primary-colors, $key: moderate-blue);
            }
          }
          .reply {
            @extend .voting;
            margin-right: 10px;
            border: none;
            background-color: inherit;
            font-weight: 600;
            color: map-get($map: $primary-colors, $key: moderate-blue);
          }
          .edit-delete-comment {
            .btn-delete {
              border: none;
              background-color: inherit;
              padding: 15px;
              font-weight: 600;
              border-radius: 10px;
              color: map-get($map: $primary-colors, $key: soft-red);
              img {
                border-radius: 0;
                padding: 0;
              }
            }
            .btn-edit {
              @extend .btn-delete;
              color: map-get($map: $primary-colors, $key: moderate-blue);
            }
          }
        }
      }
      .comment-replies {
        border-left: solid 2px map-get($map: $primary-colors, $key: light-grayish-blue);
        .comment-reply {
          width: 95%;
          margin-left: 5%;
          @extend .comment-main;
          .header {
            .avatar {
              width: 40px;
            }
            .username, .createdAt {
              padding-top: 8px;
            }
          }
          .body .replying-to {
              color: map-get($map: $primary-colors, $key: moderate-blue);
              font-weight: 600;
          }
        }
      }
    }
    .add-comment {
      width: 100%;
      background-color: map-get($neutral-colors, white);
      border-radius: 15px;
      padding: 20px;
      margin: 20px auto;
      textarea {
        width: 100%;
        height: 120px;
        resize: none;
        outline: none;
        padding: 10px;
        border-radius: 15px;
        border-color: map-get($map: $neutral-colors, $key: grayish-blue);
      }
      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        .avatar {
          width: 50px;
        }
        .btn-send-comment {
          padding: 15px 25px;
          background-color: map-get($map: $primary-colors, $key: moderate-blue);
          color: map-get($map: $neutral-colors, $key: white);
          border-radius: 10px;
          font-weight: 600;
          border: none;
        }
      }
    }
  }
}